@model User

@{
    ViewData["Title"] = "Profile";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<section class="vh-100" style="background-color: #E9DAC8;">
    <div class="container px-5 py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                            <div class="card-body p-4 p-lg-5 text-black">       
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Ονοματεπώνυμο</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@Model.Email</p>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Όνομα χρήστη</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@Model.Username</p>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Εξάμηνο</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@Model.Semester</p>
                                            </div>
                                        </div>
                                        <a href="#!"
                                           style="color: #393f81;"> Ξανακάντε το εισαγωγικό τεστ</a>
                                   
                            
                            </div>
                            <div class="card-body">
                            <p>Category 1</p>
                            <div class="container">
                                <div class="cat1">90%</div>
                            </div>

                            <p>Category 2</p>
                            <div class="container">
                                <div class="cat2">80%</div>
                            </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



