@model Tuple<Course, List<Course>, List<Career>>

@{
    ViewData["Title"] = "CoursePage";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/courses.css" />
}

<div class="px-5 py-5">
    <div class="course-head">
        <!-- όνομα μαθήματος -->
        <h3 class="my-4">@Model.Item1.Name</h3>
    </div>
    <div class="course-description">
        <p>Το μάθημα «@Model.Item1.Name» διδάσκεται στο @Model.Item1.Semester εξάμηνο, στο τμήμα Πληροφορικής του Πανεπιστημίου Πειραιώς.
            
            <br />Σχετίζεται με τους επαγγελματικούς προσανατολισμούς:
            <ul>
                @foreach (var career in Model.Item3)
                {
                    <li>
                        @career.NameInGreek (@career.Name)
                    </li>
                    
                }
            </ul>
            
            @if (Model.Item2.Count == 0)
            {
                <br/> <div>Αυτό το μάθημα δεν έχει προαπαιτούμενα μαθήματα.</div>
            }
            else
            {
                <br /> <div>Για να ξεκλειδώσετε το μάθημα πρέπει να έχετε περάσει τα προαπαιτούμενα μαθήματα:</div>
            }
            </p>
        <ul>
            @foreach (var course in Model.Item2)
            {
                <li>
                    @course.Name
                </li>
            }
        </ul>
        
    </div>
    <div class="row mt-3">
        <!--if unlcoked-->
        <div class="col">
            <h3>Περιεχόμενο</h3>
            <p id="course_content">
                @Model.Item1.Content
            </p>
        </div>
        <div class="col">
            <div class="row">
                <audio controls>
                    <source src="~/sounds/@Model.Item1.AudioFileName" type="audio/mpeg">
                </audio>
            </div>
            <div class="row d-flex justify-content-center">
                <img src="~/images/audio.png"
                     alt="audio availability" class="audio-img" />
                
            </div>

            <div class="row  d-flex justify-content-evenly pt-1">
                <a href="/Home/Quiz/" class="btn-long btn-proceed d-flex justify-content-center align-items-center">Κάνετε το Τεστ</a>

            </div>
            
        </div>
    </div>
</div>