@model Tuple<Dictionary<Coefficient, string>, Dictionary<Course, bool>, Dictionary<Course, int>, Dictionary<Coefficient, List<Course>>, Dictionary<Coefficient, string>>

@{
    ViewData["Title"] = "OrientationPage";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/courses.css" />
}

<!--TODO: ADD ORIENTATION TOTAL GRADE-->
<div class="px-5 py-5">
    <div class="subjects-head">
        <h3 class="my-4">Τα μαθήματα μου</h3>
    </div>
    <div class="orientations mt-3">
        <div class="row pt-1">
            <p>Για να ξεκλειδώσετε ένα μάθημα πρέπει να έχετε προσβάσιμο βαθμό στα προαπαιτούμενά του. Για να ξεκλειδώσετε το επαναληπτικό τεστ πρέπει να έχετε προσβάσιμο βαθμό σε όλα τα μαθήματα του συγκεκριμένου προσανατολισμού.</p>
        </div>
        
        @{
            int i = 0;
            int j = 0;
        }

        @foreach (var coefficientListCoursePair in Model.Item4)
        {
            <div class="orientation-template my-4 px-4 py-3">
 
                <a data-bs-toggle="collapse" href="#coefficient-@i" role="button" aria-expanded="false"
                   aria-controls="collapseExample" class="row details collapsed">
                    <div class="col-8">
                        <div class="orientation-title">
                            @coefficientListCoursePair.Key.NameInGreek
                        </div>
                        <div class="orientation-progress ">
                            Περασμένα μαθήματα: <b>@Model.Item1[@coefficientListCoursePair.Key]</b>
                        </div>
                        <div class="orientation-progress ">
                            Βαθμός Επαναληπτικού Τεστ: <b>@Model.Item5[@coefficientListCoursePair.Key]</b>
                        </div>
                    </div>
                    <div class="expand-arrow d-flex justify-content-end align-items-center col-4">
                        <i class="fas fa-arrow-circle-right" aria-hidden="true"></i>
                        <i class="fas fa-arrow-circle-down" aria-hidden="true"></i>
                    </div>
                </a>

                <div class="collapse subjects-list my-4" id="coefficient-@i">
                    <div class="subjects-list">

                        @foreach (Course course in coefficientListCoursePair.Value)
                        {
                            <div class="subject-card my-4">
                                <label for="file"> @course.Name 
                                    
                                    @if (Model.Item2[course])
                                    {
                                        <b>🔒</b>
                                        <a asp-controller="Course" asp-route-uuid="@course.UUID" asp-action="CoursePage">
                                            <i class="fas fa-link hyperlink"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Course" asp-route-uuid="@course.UUID" asp-action="CoursePage">
                                            <i class="fas fa-link hyperlink"></i></a>
                                    }
                                </label>
                                
                                <br/>
                                
                                <progress id="progress-@j" value="@Model.Item3[course]" max="100"> </progress>
                                <script>
                                    check_value('progress-@j');
                                </script>
                            </div>

                            {
                                j++;
                            }
                        }
                        

                    </div>
                    <div class="row  d-flex justify-content-evenly pt-1">
                        
                        @{
                            var numberOfPassedLessons = Model.Item1[coefficientListCoursePair.Key].Split('/').First();
                            var requiredLessons = Model.Item1[coefficientListCoursePair.Key].Split('/').Last();

                            bool locked = numberOfPassedLessons != requiredLessons;
                        }
                        
                        @if (locked)
                        {
                            <button dsiabled class="btn-long-alt-2  d-flex justify-content-center align-items-center">Επαναληπτικό Τεστ<span title="Χρειάζεστε προσβάσιμο βαθμό σε όλα τα μαθήματα του προσανατολισμού."><i class="fas fa-lock locked mx-2"></i></span></button>
                        }
                        else
                        {
                            <a asp-controller="Quiz" asp-action="StartEvaluationTest" asp-route-coefficientName="@coefficientListCoursePair.Key.Name" class="btn-long-alt-2  d-flex justify-content-center align-items-center">Επαναληπτικό Τεστ</a>
                        }
                        

                    </div>
                </div>
            </div>
            
            {
                i++;
            }
        }




    </div>
</div>
        

